@{
    var queryString = Request.QueryString;
}

<!DOCTYPE html>
<html>
<head>
    <title>Query String Keys and Values</title>
</head>
<body>
    <h1>Query String Keys and Values</h1>
    <ul>
        @foreach (var key in queryString.AllKeys)
        {
            <li>@key: @queryString[key]</li>
        }
    </ul>
</body>
</html>